@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-color: #1f4619;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);

  --navy: #c5e8e1;
  --navy2: #243257;
}

.inter-font {
  font-family: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffff;
  /* color: var(--foreground); */
  font-family: "Montserrat", sans-serif;
}

.color-green {
  background-color: var(--bg-color);
}

.navy {
  background: var(--navy);
}

html {
  scroll-behavior: smooth;
}
h2 {
  scroll-margin-top: 100px;
}
ul li {
  font-family: "Montserrat", sans-serif;
}

/* Custom scrollbar styles */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.45);
}

body {
  background: white;
  /*background: var(--background);*/
  /*color: var(--foreground);*/
  font-family: "Montserrat", sans-serif;
}

body h3 {
  font-family: sans-serif;
}

.color-green {
  background-color: var(--bg-color);
}
.container {
  max-width: 100rem;
}

.navy {
  background: var(--navy);
}

html {
  scroll-behavior: smooth;
}
h2 {
  scroll-margin-top: 100px;
}
ul li {
  font-family: "Montserrat", sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b9f8cf;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #34d399;
}
